@(postForm: Form[models.Post], title: String = "", section: String = "", legend: String)(implicit request: play.api.mvc.RequestHeader)

@stylesheets = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/post.css")">
}

@javascripts = {
	<script type="text/javascript" src="@routes.Assets.at("pagedown/Markdown.Converter.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("pagedown/Markdown.Sanitizer.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("pagedown/Markdown.Editor.js")"></script>
}

@import helper._

@implicitField = @{FieldConstructor(bootstrapInput.f)}
@pagedown = @{FieldConstructor(pagedownBootstrapTextArea.f)}

@main(title, section, javascripts, stylesheets){
	@helper.form(routes.Post.createPost) {
	<fieldset>
		<legend>@title</legend>
		
		@if(postForm.hasGlobalErrors) {
			<div class="alert alert-error">
				@postForm.globalErrors.map { error =>
					<strong>Error: </strong> @error.message <br>
				}
			</div>
		}
		
		@inputText(postForm("title"))
		@textarea(postForm("content"))(handler = pagedown, implicitly[Lang])
		
		<div style="clear: both"></div>
		
		<div class="form-actions centered">
			<button type="submit" class="btn btn-primary btn-large">Submit Post</button>
		</div>
	</fieldset>
	}
	
	<script type="text/javascript">
		(function(){
			var converter = Markdown.getSanitizingConverter();
			var editor = new Markdown.Editor(converter);
			editor.run();
		})();
	</script>
}