@(posts: models.extra.Page[Post])(implicit request: play.api.mvc.RequestHeader, flash: Flash)

@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
}

@main("bertzzie.com", stylesheets=stylesheets) {
   	<div class="span8" id="post-list">
   		@if(posts.items.isEmpty) {
   		    <div class="mini-post">
   				No Post to show.
   			</div>
   		}
   		
   		@posts.items.map { post =>
   	    	@views.html.post.miniPost(post)
   		}
 
   		@views.html.helper.paginator(posts.prev.map { page => routes.Application.index(page).absoluteURL(false) }.getOrElse(""),
   					"Newer Posts",
   					posts.next.map { page => routes.Application.index(page).absoluteURL(false) }.getOrElse(""),
   					"Older Post")
   	</div>
}