@(posts: Seq[Post])(implicit request: play.api.mvc.RequestHeader, flash: Flash)

@main("Welcome to PlayJournal") {
	@if(flash.get("logoutSuccess").exists(_ => true)){
    	<div class="alert alert-info">
    		<strong>Log out Success.</strong> @flash.get("logoutSuccess")
    	</div>
    }
    
   	@if(flash.get("security").exists(_ => true)){
	   	<div class="alert alert-warning">
	   		<strong>Security warning:</strong> @flash.get("security")
	   	</div>
   	}
    
   	@posts.map { post =>
   	    @views.html.post.miniPost(post)
   	}
}